<div class="card learning-path" style="width: 18rem;">
  <div class="card-body">
    <h2 class="card-title learning-path-title"><%= learning_path.title %></h2>
    <h6 class="card-subtitle learning-path-subtitle mb-2 text-muted"><%= learning_path.description %></h6>
    <p class="card-text learning-path-text">BLah blah</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
