<div class="card learning-path">
  <div class="card-body">
    <h2 class="card-title learning-path-title"><%= learning_path.title %></h2>
    <h6 class="card-subtitle learning-path-subtitle mb-2 text-muted"><%= learning_path.description %></h6>
    <p class="card-text learning-path-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt cumque nobis obcaecati quo quis ut quibusdam, modi est tempore soluta accusantium iste esse odio sint eos consequuntur dolorem facere voluptatem!</p>
    <button type="button" class="btn btn-lg btn-primary w-100 stretched-link">Get started</button>
  </div>
</div>
