@import "override";
@import "bootstrap";
@import "**/*";
//@import "sessions";
//@import "dashboard";

i {
    color: $primary-color;
}

a {
    text-decoration: none;
    /* unvisited link */
    &:link {
        // color: $primary-color;
    }

    /* visited link */
    &:visited {
        // color: $primary-color;
    }

    /* mouse over link */
    &:hover {
        // color: $primary-color;
        text-decoration: underline;
    }

    /* selected link */
    &:active {
        // color: $primary-color;
        text-decoration: underline;
    }
}
