$primary-color-dark: #272749;
$primary-color: #5653ff;
$primary-color-light: #f8f9fa;
$primary-color-text: #ffffff;
$accent-color: #50ddc2;
$primary-text-color: #212529;
$secondary-text-color: #757575;
$divider-color: #f8f9fa;
