$primary-color: #05192d;
$primary-color-light: #d1c4e9;
$primary-color-dark: #05192d;
$primary-text-color: #ffffff;
$primary-accent-color: #03ef62;
$secondary-color: #fefbf4;
$secondary-color-light: #fefbf4;
$secondary-color-dark: #fefbf4;
$secondary-text-color: #000000;
$secondary-accent-color: #6f40f5;
$divider-color: #bdbdbd;

$another-color: #037eee;

// Custom bootstrap variables must be set or imported *before* bootstrap.
$primary: $primary-color;
$secondary: $secondary-color;
