.learning-paths {
  margin: 0 auto;
}

.learning-path {
  background-color: white;

  .learning-path-title {
    color: $primary-color;
  }
  .learning-path-subtitle {
    color: $primary-color;
  }
  .learning-path-text {
    color: $primary-color;
  }
}
