.session-form {
  background-color: $gray-200;
  padding: 26px;

  .form-label {
    font-weight: 600;
    font-size: 16px;
  }

  input[type="submit"] {
    font-weight: 600;
    font-size: 16px;
    border-width: 0;
  }
}
