<footer class="bg-dark d-flex align-items-center border-top py-3">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="text-white">
        <span>© 2021 Company, Inc</span>
      </div>
      <ul class="nav">
        <% if Rails.env.development? %>
          <li class="nav-item">
            <a href="#" class="nav-link link-secondary px-2" data-bs-toggle="modal" data-bs-target="#debug-console">Debug</a>
          </li>
        <% end %>
        <li class="nav-item">
          <a href="#" class="nav-link link-secondary px-2">Contact</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link link-secondary px-2">About</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<% if Rails.env.development? %>
  <!-- Modal -->
  <div class="modal fade" id="debug-console" tabindex="-1" aria-labelledby="debug-console-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="debug-console-label">Debug Console</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row justify-content-center">
            <div class="col">
              <div class="bg-dark text-start text-white p-2 mt-4 rounded">
                <%= debug(params) %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  <% end %>
</div>
